@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald:400,700&display=swap');    

:root {
    --cor-azul: #2EA8D9;
    --cor-preta: #181818;
    --cor-branco: #FFF;

    --container-width: 90vw; /* 300px */
    --tablet-width: calc(var(--container-width));
    --phone-width: calc(var(--tablet-width) / 3);
}
html {

    background-color: var(--cor-preta);
}

body {
    background-color: var(--cor-preta); /* Estou indeciso se deixo o body com a cor da página */

    background-image: url(../assets/Untitled.png), url(../assets/Untitled2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-size: 1360px 720px, 568px 958px;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #2c2c2c;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--cor-azul);
    }
}

html, body, input, button, select {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 9px;
}

.botao-email {
    display: block;
    cursor: pointer;
    padding: 4%;

    width: 50%;
    margin: 20px auto;

    background-image: linear-gradient(to top left, var(--cor-azul), rgb(85, 173, 207));
    /* background-color: var(--cor-azul); */
    text-transform: uppercase;
    text-decoration: none;

    font-size: 1.286rem;
    font-weight: bold;
    color: var(--cor-preta);

    border-style: none;
}

.botao-projetos {
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;

    border: 1px solid var(--cor-branco);
    background: none;
    color: var(--cor-branco);
    cursor: pointer;
    width: 30%;
    padding: 1%;

    svg {
        fill: var(--cor-branco);
        margin-right: .5rem;
    }

    &:hover, &:active {

        border-color: var(--cor-azul);
        color: var(--cor-azul);
        
        svg {
            fill: var(--cor-azul);
        }
    }
}

.selection-box {
    width: 100%;
    height: 100%;
    
    & > svg {
        align-self: center;
        fill: var(--cor-branco);

        &:hover, &:active {
            fill: var(--cor-azul);
        }
    }
}

.tela-hover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    background: linear-gradient(to bottom right, #2C2C2C, #181818);
    opacity: 0;
    transition: .3s;

    svg {
        fill: var(--cor-branco);
        width: 32px;
        height: 32px;
        transition: .3s;
    }

    p {
        color: var(--cor-branco);
        transition: .3s;
    }

    &:hover,
    &:focus, 
    &:active {
        cursor: pointer;
        opacity: .95;

        & svg {fill: var(--cor-azul);}
        & p {color: var(--cor-azul);}
    }
}

.logo {
    width: 2.571rem;
    height: 2.571rem;

    background-image: url(../assets/athos-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

nav {
    position: fixed;
    top: 0;
    z-index: 999;

    width: 100%;

    background-color: var(--cor-preta);
    box-shadow: 25px 25px 70px rgba(0, 0, 0, 0.35), 
                -25px -25px 70px rgba(56, 56, 56, 0.3);

    & > div{
        margin: 0 auto;

        width: var(--container-width);
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 25px 10px; /* De acordo com o Design era 50px */
        
        img { /* trocar para div + background */
            width: 2.571rem;
            height: 2.571rem;
        }
    
        ul {
            display: flex;
            justify-content: space-between;
    
            width: 75%; /* 380px; */
            
            li {
                a {
                    color: var(--cor-branco);
                    text-decoration: none;
                    text-transform: uppercase;
    
                    &:hover, &:active {
                        color: var(--cor-azul);
                    }
                }
            }
        }
    }

}

.container {
    position: relative;
    top: 150px; 
    width: var(--container-width);
    margin: 0 auto;


    header {
        margin-left: 0px; 
        margin-bottom: 100px;
        h1 {
            font-size: 5.143rem; /* 72px */
            font-weight: bold;
            color: transparent;
            -webkit-text-stroke: var(--cor-branco);
            -webkit-text-stroke-width: 2px;

            margin-bottom: 40px;
            text-transform: uppercase;
            
            span {
                color: var(--cor-branco);
            }

        }

        h2 {
            color: var(--cor-branco);

            font-family: 'Oswald', sans-serif;
            font-size: 1.286rem; /* 18px */
            line-height: 27px;
            letter-spacing: 0.5em;
            text-transform: uppercase;           
        }
        
        ul {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            width: 230px;

            svg {
                fill: var(--cor-branco);

                &:hover, &:active {
                    fill: var(--cor-azul);
                }
            }
        }
    }

    .scroll-down {
        margin: 0 auto;
        width: 50px;
        height: 50px;

        color: transparent;
        border-bottom: 2.5px solid var(--cor-azul);
        border-left: 2.5px solid var(--cor-azul);
        transform: rotate(-45deg);
    }

    main {

        margin-top: 50px;
        
        h2 {
            margin: 100px 0;
            font-size: 2.571rem; /* 36px */
            font-weight: bold;
            color: var(--cor-branco);
        }

        section.projetos {

            position: relative;

            .borda-tablet {
                position: relative;
            
                width: var(--tablet-width); /* 1032px */
                height: calc(var(--tablet-width) / 1.6847);/* 463px; */ /* 608px */
                margin: 0 auto;             
                border-radius: 1rem; /* 32px; */
                
                background: linear-gradient(to bottom right, #242424, #1A1A1A);
            
                box-shadow: -1px -1px 0px rgba(255, 255, 255, .3),
                            1px -1px 0px var(--cor-azul),
                            0.5px 0.5px 0px rgba(255, 255, 255, .2),
                            60px 120px 120px rgba(0, 0, 0, .3);

                .corpo-tablet {
                    position: relative;
                    
                    width: 99%; /* 1024px */
                    height: 99%; /* 600px */
                    top: .5%;
                    margin: 0 auto;
                    border-radius: inherit;
                
                    background: linear-gradient(to bottom right, #2c2c2c, #121212 50%);

                    .tela-tablet {
                        position: relative;
                    
                        width: 85.75%; /* 924px */
                        height: 78.40%; /*  500px */
                        top: 10.8%;
                        margin: 0 auto;
                    
                        background: linear-gradient(to bottom right, #242424, #181818 70%);
                        background-image: url(../assets/keep.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: top;                
                    }
                }  
            }

            .rotate {

                position: absolute;
                right: 10%;/* 100px; */
                top: 100px; /* Por conta do h2 */
                transform: rotate(15deg);

                .corpo-phone {
                    width: var(--phone-width);/* 260px; */ /* 370px */
                    height: calc(var(--phone-width) / 0.5);/* 520px; */ /* 740px */
                    margin: 0 auto;
    
                    border-radius: .5rem;
    
                    box-shadow: -1px -1px 0px rgba(255, 255, 255, .3),
                                1px -1px 0px var(--cor-azul), 
                                80px 60px 20px rgba(0, 0, 0, .3),
                                inset -30px -2px 30px rgba(18, 18, 18, .1),
                                inset 30px 2px 30px rgba(44, 44, 44, .8);
    
                    background: linear-gradient(to bottom right, #2c2c2c, #121212 50%);
                    
                    .audio-phone {
                        position: relative;
                        top: 2%;
        
                        width: 23%; /* 60px */
                        height: 1%;
                        margin: 0 auto;
        
                        background-color: #121212;
                        border-radius: 1%;
                    }
                    
                    .tela-phone {
                        position: relative;
                        
                        height: 83.2692%;/* 433px; */ /* 640px */
                        width: 93.8461%; /* 244px; */ /* 360px */
                        margin: 0 auto;
                        top: 8.3654%;
        
                        /* box-shadow: inset -30px -2px 30px rgba(18, 18, 18, .1),
                                    inset 30px 2px 30px rgba(44, 44, 44, .8); */
        
        
                        background: linear-gradient(to bottom right, #242424, #181818 70%);
        
                        background-image: url(../assets/photo.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
        
                        /* Brilho de tela;
                        box-shadow: 1px 1px 40px #2c2c2c,
                                    -1px -1px 40px #2c2c2c; 
                        */
                    }
                }  
            }
        }
    }


    section.dec {

        .grupo {
        
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: wrap;

            
            & > div {
                width: 98%;
                height: calc(var(--container-width) * 0.55); /* 173px */
                border-radius: 10px;
                margin: 5px auto;

                box-shadow: 6px 6px 12px #121212,
                            -1px -1px 0px rgba(255 , 255, 255, 0.3),
                            -1px 1px 0px var(--cor-azul);
                
                background: linear-gradient(to bottom right, #2C2C2C, #181818);

                .projetos {
                    width: 97%;
                    height: 95%;
                    position: relative;
                    top: 2.5%;
                    border-radius: inherit;
                    margin: 0 auto;

                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    
                    div {
                        width: 100%;
                        height: 100%;
                    }
                }
                
                .projeto2 {
                    background-image: url(../assets/Kyoto.jpg);
                }
                
                .projeto3 {
                    background-image: url(../assets/CFO.png);
                }

            }
        } 
    }


    section.contato {

        width: 100%;
        
        margin-bottom: 100px;
        
        h3, a {

            text-align: center;
        }

        a {
            color: var(--cor-preta);
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                fill: var(--cor-preta);
            }           
        }

        h3, p {
            color: var(--cor-branco);

            font-family: 'Oswald', sans-serif;
            font-size: 1.286rem; 
            line-height: 27px;
            letter-spacing: 0.5em;
            text-transform: uppercase;

            svg {
                fill: var(--cor-branco);
            }
        }
    }
}

footer {
    
    position: relative;
    top: 150px; /* Mesma posição que o .container tem, puxado para o que seria o fluxo normal*/

    z-index: 999;
    width: 100%;

    background-color: var(--cor-preta);
    box-shadow: 25px 25px 70px rgba(0, 0, 0, 0.35), 
                -25px -25px 70px rgba(56, 56, 56, 0.3);

    div{
        margin: 0 auto;

        width: var(--container-width);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        padding: 25px 0; /* De acordo com o Design era 50px */

        img { /* trocar para div + background */
            width: 2.571rem;
            height: 2.571rem;
        }

        p {
            color: var(--cor-azul);
        }
    
        ul {
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            width: 230px;
    
            svg {
                fill: var(--cor-branco);
                stroke: 10px;

                &:hover, &:active {
                    fill: var(--cor-azul);
                }
            }
        }
    }    
}

.close {
    color: var(--cor-branco);
    position: absolute;
    margin: 1rem;
    padding: 2rem;
    top: -10px;
    right: 0;
    font-size: 3rem;
    background-color: #181818;
    border-bottom-left-radius: 25%;
    
    &:hover,
    &:focus,
    &:active {
        color: var(--cor-azul);
        text-decoration: none;
        cursor: pointer;
    }
}

.pop-up-description {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 


    &::-webkit-scrollbar {
        width: 10px;
        background-color: #2c2c2c;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--cor-azul);
    }
  }
  
  /* Modal */
  .content {
    position: relative;

    display: flex;
    flex-direction: column;

    background-color: #181818;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;

    width: calc(var(--container-width) * 0.9) ;

    img {
        width: 100%;
        height: 100%;
    }

    div {
        width: 100%;

        h2 {
            font-size: 1.286rem; /* 18px */

            font-weight: bold;
            color: var(--cor-azul);
            margin: 1rem 0;

            text-transform: uppercase;
        }

        h3 {
            color: var(--cor-branco);
            margin: 1.5rem 0;

            font-family: 'Oswald', sans-serif;
            
            line-height: 1rem;
            letter-spacing: 0.5rem;
            text-transform: uppercase;
        }

        p {
            color: var(--cor-branco);
            line-height: 1.6rem;

            .breadcrumbs {
                color: var(--cor-azul);
                font-weight: bold;
                font-size: 1.2rem;
                margin: 0 .5rem;
            }
        }


        img {
            width: 25px;
            height: 25px;

            margin: .5rem 0;
        }

        div {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            width: 100%;
            margin-top: 5%;
        }

        .btn-design {
            width: 100%;
            margin-top: 25px;
        }
    }

  }

.show {
    display: block;
} 
         
@import './media-queries';





